<form class="mt-8 space-y-4" method="POST" action="/login">
    <input type="text" name="username" placeholder="Identifiant" class="w-full bg-[#1c2128] border border-gray-700 rounded-lg p-4 focus:border-blue-500 outline-none">
    <input type="password" name="password" placeholder="••••••••••••" class="w-full bg-[#1c2128] border border-gray-700 rounded-lg p-4 focus:border-blue-500 outline-none">
    <button type="submit" class="w-full bg-gradient-to-r from-[#1eb1a6] to-[#2b7fff] py-4 rounded-xl font-bold shadow-lg hover:opacity-90 transition">
        Se connecter
    </button>
</form>
